html {
  scroll-behavior: smooth;
}
body{
    background-color: #F9F8FD;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
      margin: 0;
      padding: 0;
      
}
header{
    position: fixed;
    width: 82vw;
    max-width: 1260px;
    
    top: 12px;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(7.5px);
/* Note: backdrop-filter has minimal browser support */
    border-radius: 75px;
    height: 51px;
    z-index: 1;
      
}
.menu {
    flex-grow: 1;
  }
  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
    list-style: none;
  }
  .menu li {
    margin-right: 41px;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  .menu a {
    padding: 8px 10px;
    color: #000;
    text-decoration: none;
  }
  .logo {
    margin-left: 21px;
    margin-right: 74px;
  }
  .sign {
    font-weight: 400;
    font-size: 15px;
    
  }
  .sign a {
    color: #000;
    text-decoration: none;
  }
  
.sign button{
    margin-left: 14px;
    margin-right: 11px;
    width: 77.9px;
    height: 30.73px;
    border: none;
    background: #38BFF2;
    border-radius: 34px;
    color: #ffffff;
}
.komp{
    
  margin-top: -5vh ;
  width: 27vw;
  
 
 }
 img{
  width: 100%;
  height: auto;
 }
 .baner_text{
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
}
.baner_text h1{
  width: 40vw;
  max-width: 450px;
  height: fit-content;
  font-weight: 500;
  font-size: 3vw;
  line-height: 46px;
  text-decoration: none;
  color: #22253B;
  
  }
  .baner_text p{
  width: 30vw;
  max-width: 300px;
  height: fit-content;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 23px;
  color: #22253B;
  
  }
  .baner_text button{
    
  width: 30vw;
  height: 10vh;
  background: #F15525;
  border-radius: 82px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 96.69%;
  /* or 19px */
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  
  color: #FFFFFF;
  }
  .baner_text hr{
  width: 365.22px;
  height: 0px;
  margin-left: 0;
  border: 1px solid #DEDEDE;
  }
.default-section{
  box-sizing: border-box;
  padding: 0 8vw;
  width: 100%;
  max-width: 1440px;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url('../image/fon.png'); 
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  
  align-items: center;
  
}
@media (min-width: 1440px){
  .default-section{
    background-size: contain;
    margin-bottom: -10vh;
    padding: 0 110px;
  }
  .komp{
    margin-top: -5vh ;
    width: 430px
   }

}
  .default-section1{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    background-color: #FFFFFF;
    max-width: 1440px;
    padding: 10vh 0;
    height: fit-content;
  }
  .sec1{
    box-sizing: border-box;
    padding: 0px 0px;
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 9%;
    margin-right: 9%;}
  h2 {
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    color: #22253B;
  }
  .name_section{
    margin: 4vh 0;
  }
  .baner1{
    width: 100%;
    
    display: flex;
    justify-content: space-around;
  align-items: flex-end;
  height: fit-content;
  background: #EAF2F5;
  border-radius: 48px;

  }
  .baner1_main{
    display: flex;
    flex-direction: column;

  }
  .punkt {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10vh;
    font-size: 17px;
    line-height: 45px;
    list-style: none;
    margin-top: none;
    width: 30vw;
  }
  .punkt span {
    padding-left: 6%;
    padding-right: 6%;
    color: #ffffff;
    text-decoration: none;
    border-radius: 44px;
    text-align: center;
    margin-top: 11px;
    margin-right: 10px;
  }
  .punkt span:last-child {
    margin-right: 0;
  }
  .chel{
    width: 40vw;
    height: auto;
    max-width: 575px;
    margin-top: 3vh;
  }
  .baner1_text{
    
    width: 386px;
    height: 50px;
    left: 50%;
    margin-top: 25px;
    
    margin-bottom: 10vh;

font-family: 'Gilroy SemiBold';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 125%;
/* or 125% */


color: #22253B;
  }
.default-section2 {
    box-sizing: border-box;
    padding: 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    max-width: 1440px;
    height: fit-content;
}
.sec2{
  box-sizing: border-box;
  padding: 0px 0px;
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10vh 9vh;
}
 .kartochki{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    line-height: 254px;
    flex-grow: none;

  }
  .kartochka{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EAF2F5;
    border-radius: 30px;
    width: 270px;
    height: 254px;
    margin: 5px 3px;
    

  } 
  .kartochka img{
    width: 58px;
    margin-top: 50px;
  }
  .kartochka h3{
    margin-top: 19px;
    text-align: center;
    font-family: 'Gilroy SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    width: 166px;
  }
  .kartochka p{
    margin-top: 10px;
    width: 200px;
    margin-bottom: 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* or 115% */

    text-align: center;
  }
  .default-section3{
    box-sizing: border-box;
    padding: 0px 0px;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    background-image: url('../image/fon2.png');
    background-repeat: no-repeat;
    background-position: top center;
    align-items: center;
    max-width: 1440px;
  }
  .sec3{
    box-sizing: border-box;
    padding: 0px 0px;
    width: 82%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 9%;
    margin-right: 9%;
  }
  .default-section3 p{
    display: flex;
    width: 642px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
/* or 125% */
  }
  .mac{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 88.02%, #F8F8F8 100%);
    border: 2px solid #F3F3F3;
    width: 619.84px;
    height: 433.34px;
    padding-bottom: 42px;
  }
  .mac video{
    width: 580px;
    height: 370px;
    margin-left: 18px;
    border-radius: 17px;
  }
  .kak{
    display: flex;
    align-items: center;
    flex-direction:row;
    flex-wrap: nowrap;
    height: fit-content;
    background: #FFFFFF;
    padding: 5vh 0;
    box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
    border-radius: 40px;
    margin: 5vh 0;
  }
  .pupupu{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 66px;
    padding-left: 54px;
    text-align:left;
    border-right: thin solid #ccc;
  }

.pupupu:last-child {
  border-right: none;
}

 
  .pupupu h4{
    color: #38BFF2;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 77px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 56px;
    
  }
  .pupupu p{
  width: 266px;
  height: 60px;
  font-family: 'Gilroy SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom:19px;
  text-align:left;
  }
  .pupupu b{
  width: auto;
  height: 88px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  }
  .start{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 50vw;
    max-width: 720px;
    height: 93px;
    background: #FFFFFF;
    border-radius: 110px;
    margin-bottom: 90px;
  }
  .start button{
    width: 20vw;
    height: 70px;
    background: #F15525;
    border: none;
    border-radius: 82px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 96.69%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-left: 60px;
  }
  .start p{
    width: 214px;
    height: 54px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-left: 24px;
    text-align: left;
  }
  .suport{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    border-radius: 80px;
    background: #FFFFFF;
    box-sizing: border-box;
    align-items: center;
    margin-top: 15vh;
    padding: 8vh 0;

  }

  .baner2{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  
    justify-content: space-evenly;
    
  }
  .bitems2{
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EAF2F5;
    border-radius: 40px;
    margin-bottom: 5vh;
  
  }
  .bitems1_w{
    height: 60vh;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5vh;
  }
  .bitems1{
    
    
    width: 25vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAF2F5;
    border-radius: 40px;
    align-self: flex-end;
  }
  .bitems1 img{
    width: 20vw;
    
  }
 
  .baner2_title{
    text-align: left;
    font-family: 'Gilroy SemiBold';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 30px;

margin-bottom: 18px;
  }
  .baner2_text1 {
    text-align: left;
    width: 25vw;
    font-family: 'Gilroy';
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
margin-bottom: 10px;
  }
  
  .default-section4{
    position: relative;
    box-sizing: border-box;
    padding: 0px 0px;
    width: 82%;
    height: 1116px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
  }
.stoim{
  display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    line-height: 63px;
}
.fraza{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
  margin-right: 69px;
}
.fraza img{
  width: 60px;
height: 60px;
margin-right: 20px;
}
.fraza p{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
height: 63px;

}
.fraza:last-child{
  margin-right: 0;
}
.table{
width: 100%;
height: 550px;
background: #FFFFFF;
border-radius: 30px;
padding: 38px;
font-family: 'Gilroy';
font-style: normal;
line-height: 25px;
  }
  .table tr{
    border-radius: 10px;
    height: 57px;
  }
.table tr:nth-child(odd){
    background: #ffffff;
  }
   
.table tr:nth-child(even){
    background: #F3F3F3;
  }
.table th{ 
text-align: left;
font-weight: 700;
font-size: 16px;
color: #38BFF2;
}
.table td{
 font-weight: 400;
font-size: 20px;
}
.price_text{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
align-self: flex-start;
margin: 5vh 0 ;
color: #8E8E8E;
}
.obyav{
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #EAF2F5;
  border-radius: 30px;
  padding: 65px 52px;
}
.obyav img{
  width: 91px;
height: 91px;
margin-right: 30px;
}
.obyav p{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
max-width: 62%;


}
.obyav button{
  width: 20vw;
  height: 70px;
  background: #F15525;
border-radius: 82px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 96.69%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;
padding: 28px 56px;
color: #FFFFFF;
margin-left: 23px;
border:none;
white-space: nowrap;
}

footer{
  
  position: relative;/*относительное позиционирование*/
  width: 100%;/*на всю ширину*/
  padding: 0 0;/*поля для контента*/
  display: flex;
  justify-content:space-around;/*в центре по горизонтали*/
  align-items: center;/*в центре по вертикали*/
  flex-direction: row;
  margin-top: 64px;
  max-width: 1440px;
  background: #fff;
}
.logo2{
  width: 4vw;
}
.ssilki{
  display: flex;
  flex-flow: column;
  height: 25vh;
  justify-content: space-around;
}
.social {display: inline-block;}
.social a {
	display: block;
	width: 34px;
	height: 34px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #fff;
	background: #22253B;
  ;
	border: 1px solid #ccc;
	border-radius: 24px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
	margin-top: 7px;
	width: 22px;
	height: 22px;
}
.facebook a:hover {background: #3b5998;}
.instagram a:hover {background: #3f729b;}
.vk a:hover {background: #4a76a8;}
.youtube a:hover {background: #c4302b;}
.menu2{
  margin-bottom: 2vh;
}
.menu2 li{
  list-style: none;
  margin-top: 25px;
}
.menu2 a{
  text-decoration: none;
  font-weight: 400;
font-size: 13px;
line-height: 104.4%;
color: #22253B;
}
.info{
  display: flex;
  flex-direction: column;
}
.info a:last-child{
  margin-bottom: 65px;
}
.info_text{
  margin-top: 65px;
}
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup_content{
  background-color: #FFFFFF;
  color: #000;
  max-width: 740px;
  border-radius: 30px;
  text-align: center;
}
.popup_close{
  
  margin: 10px 10px 0 710px;
}
.popup_title{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
margin: 22px;

}
.popup_text{
  font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
margin: 0 112px 20px 112px;

}
.popup_button{
  padding: 25px 33px;
background: #F15525;
border-radius: 82px;
border: none;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 96.69%;

align-items: center;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-bottom: 41px;
}
.popup2{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;
}
.popup2:target{
  opacity: 1;
  visibility: visible;
}
.popup2_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup2_content{
  background-color: #FFFFFF;
  color: #000;
  max-width: 740px;
  border-radius: 30px;
  text-align: left;
}
.popup2_close{
  margin: 10px 10px 0 698px;
}
.popup2_title{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
margin: 22px;
background: #EAEAEA;
border-radius: 49px;
max-width: 130px;
}
.popup2_text{
  font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
margin:0 82px 20px 39px;
}
.popup2_button{
  margin: 0 0 50px 580px;
  padding: 16px 22px;
background: #F15525;
border-radius: 82px;
border: none;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 96.69%;

align-items: center;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-bottom: 50px;
}
.popup2_label{
  margin-left: 43px;
 display: flex;
 flex-direction: column;
}
.popup3{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;
}
.popup3:target{
  opacity: 1;
  visibility: visible;
}
.popup3_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup3_content{
  background-color: #FFFFFF;
  color: #000;
  max-width: 740px;
  border-radius: 30px;
  text-align: left;
}
.popup3_close{
  margin: 10px 10px 0 698px;
}
.popup3_number{
  max-width: 130px;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
margin: 22px;
background: #EAEAEA;
border-radius: 49px;
}
.popup3_title{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
margin: 22px;
}
.popup3_text{
  margin:0 22px ;
  font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
margin-bottom: 0 74px 11px 34px;
}
.popup3_button{

  padding: 16px 22px;
background: #F15525;
border-radius: 82px;
border: none;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 96.69%;

align-items: center;
letter-spacing: -0.03em;
color: #FFFFFF;
margin:0 0 50px 580px;
}
.popup4{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;
}
.popup4:target{
  opacity: 1;
  visibility: visible;
}
.popup4_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  

  padding: 30px 10px;
}
.popup4_content{
  background-color: #FFFFFF;
  color: #000;
  max-width: 740px;
  border-radius: 30px;
  text-align: center;
}
.popup4_close{
margin: 10px 10px 0 698px; ;
}
.popup4_number{
  max-width: 130px;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 22px;
  background: #EAEAEA;
  border-radius: 49px;
  text-align: center;
}
.popup4_text{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 20px 90px 20px 90px;
}
.popup4_button{

  padding: 16px 22px;
background: #F15525;
border-radius: 82px;
border: none;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 96.69%;

align-items: center;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-bottom: 50px;
}








@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .menu2 ul {
      margin-top: 20px;
  }
}
